!!!
html
    head
        meta(charset="utf-8")
        meta(name="robots",content="nofollow")
        title= title
        link(rel="stylesheet",href="/global/reset.css?t=201304.css")
        link(rel="stylesheet",href="/global/global.css?t=20130514.css")
    body
        #main-wrapper
            #calendar-header
                h2#date
                    b#year-trigger(data-type="year") !{date.getFullYear()}
                    b.trigger-panel.year
                        span.add ▲
                        span.reduce ▼
                    | -
                    b#month-trigger(data-type="month") !{ (date.getMonth()+1).toString.length<2 ? '0'+(date.getMonth()+1).toString():date.getMonth()+1}
                    b.trigger-panel.month
                        span.add ▲
                        span.reduce ▼
                #log-list-control(style="display:none;")
                    span.J-username=username
                    b.close.J-close &times;
            #calendar-wrapper
                #calendar-panel
                #more-detail-wrapper(style="display:none;")
                    #more-detail
            #add-record-log
                -if(!isLogin)
                    form.login(name="login",action="/login",method="post")
                        table
                            tr
                                th 用户名
                                td
                                    input.text(type="text",name="user")
                                tr
                                    th 密码
                                    td
                                        input.text(type="password",name="pwd")
                                tr.control
                                    th
                                    td
                                        input.cal.hidden-form(type="button",value="取消")
                                        input.login(type="submit",value="登录",id="Login")
                    style
                        form.add-record-log {
                            display: none;
                        }
                form.add-record-log(name="add-record-log",action="/record-log",method="post")
                    table
                        tr
                            th 页面名称
                                b *
                            td
                                input.text(type="text",name="page-name")
                        tr
                            th  页面等级
                                b *
                            td
                                select(name="level")
                                    option(value="") 请选择
                                    option(value="1") 简单
                                    option(value="2") 一般
                                    option(value="3") 常规
                                    option(value="4") 复杂
                                a(href="http://note.youdao.com/share/?id=958147041772e87d41bdfe60c6b7f6ab&type=note",target="_blank").level 评级标准
                        tr
                            th 设计师
                            td
                                input.text(type="text",name="design")
                        tr
                            th 需求方
                            td
                                input.text(type="text",name="customer")
                        tr
                            th 线上地址
                            td
                                input.text(type="text",name="online-url")
                        tr
                            th TMS地址
                            td
                                input.text(type="text",name="tms-url")
                        tr
                            th 备注
                            td
                                textarea(name="note")
                        tr
                            th 页面完成时间
                                b *
                            td
                                input.year(name='year',value='#{date.getFullYear()}')
                                | -
                                input.month(name='month',value='#{date.getMonth()+1}')
                                | -
                                input.date(name='date',value='#{date.getDate()}')
                                .info
                        tr.control
                            th
                            td
                                input.cal.hidden-form(type="button",value="取消")
                                input.smt(type="submit",value="保存",name="smt")
        #sidebar-wrapper
            #sidebar-container
                #sidebar-group
                    ul(style="margin-top:.5em;margin-bottom:.5em;")
                        li.J-record-log
                            b#record-log 记录日志
                                if(isLogin)
                                    span （!{username}）
                        if(isLogin)
                            li.separator
                            li
                                a.change-pwd(href='#') 改密
                                |
                                a(href="log-out") 退出
                    ul.user-filter
                        li#user-filter-container
                    #statistics
                    ul(style="display:none")
                        li pid: #{process.pid}
                        li uptime: #{parseInt(process.uptime(),10)}
                        li(style="display:none;") memory#{JSON.stringify(process.memoryUsage(),undefined,'    ')}
                    ul(style="margin-top:1em")
        script(src="/kissy-min.js")
        script#seajsnode(src="/sea.js",data-main="/home/init.js?time=201305.js")
