!!!
html
    head
        meta(charset="utf-8")
        title= title
        link(rel="stylesheet",href="/global/reset.css")
        link(rel="stylesheet",href="/global/global.css?t=20120827.css")
    body
        #header
            h1 元泰同学生日快乐！！
        #main-wrapper
            #calendar-header
                h2#date
                    b#year-trigger(data-type="year") !{date.getFullYear()}
                    | -
                    b#month-trigger(data-type="month") !{date.getMonth()+1}
                    span.tips 用鼠标滚轮设定年月
                        s
                #log-list-control(style="display:none;")
                    span.J-username=username
                    b.close.J-close &times;
            #calendar-wrapper
                #calendar-panel
                #more-detail-wrapper(style="display:none;")
                    #more-detail
            #add-record-log
                if(!isLogin && !isDisabledRecord)
                    form.login(name="login",action="/login",method="post")
                        table
                            tr
                                th
                                td 使用 OA 帐号登入
                            tr
                                th 用户名
                                td
                                    input.text(type="text",name="user")
                            tr
                                th 密码
                                td
                                    input.text(type="password",name="pwd")
                            tr.control
                                th
                                td
                                    input.cal.hidden-form(type="button",value="取消")
                                    input.login(type="submit",value="登陆",id="Login")
                -if(!isLogin)
                    style
                        form.add-record-log{display:none;}
                -if(isDisabledRecord)
                    p 每月末最后一天的16点后，<br>需将信息汇总，故暂时屏蔽保存日志功能。<br>完成的工作，请下月再来再来记录。
                        input.cal.hidden-form(type="button",value="隐藏<<")
                -else
                    form.add-record-log(name="add-record-log",action="/record-log",method="post")
                        table
                            tr
                                th 页面名称
                                    b *
                                td
                                    input.text(type="text",name="page-name")
                            tr
                                th  页面等级
                                    b *
                                td
                                    select(name="level")
                                        option(value="") 请选择
                                        option(value="1") 简单
                                        option(value="2") 一般
                                        option(value="3") 常规
                                        option(value="4") 复杂
                                    a(href="http://note.youdao.com/share/?id=958147041772e87d41bdfe60c6b7f6ab&type=note",target="_blank").level 评级标准
                            tr
                                th 设计师
                                td
                                    input.text(type="text",name="design")
                            tr
                                th 需求方
                                td
                                    input.text(type="text",name="customer")
                            tr
                                th 线上地址
                                td
                                    input.text(type="text",name="online-url")
                            tr
                               th TMS地址
                               td
                                   input.text(type="text",name="tms-url")
                            tr
                                th 备注
                                td
                                    textarea(name="note")
                            -if(date.getDate()>=1 && date.getDate()<=7)
                                tr.tips
                                    th 提示：
                                    td 因已过上月统计期，<br>故如有忘记添加的日志，请记录在本月。<br>
                            tr
                                th 页面完成时间
                                    b *
                                td
                                    input.year(name='year',value='#{date.getFullYear()}')
                                    |-
                                    input.month(name='month',value='#{date.getMonth()+1}')
                                    |-
                                    input.date(name='date',value='#{date.getDate()}')
                            tr.control
                                th
                                td
                                    input.cal.hidden-form(type="button",value="<<隐藏")
                                    input.smt(type="submit",value="保存")
        #sidebar-wrapper
            #sidebar-container
                #sidebar-group
                    h2 控制台
                    ul
                        li.J-record-log
                            b#record-log 记录日志
                                if(isLogin)
                                    span （!{username}）
                        if(isLogin)
                            li.separator
                            li
                                a(href="log-out") 退出登陆
                    h2 过滤器
                    ul.user-filter
                        li#user-filter-container
                    #statistics
                    h2 一起改进
                    ul
                        li
                            a(href="https://github.com/xiongsongsong/weekly") Weekly on Github
        script(src="/kissy-min.js")
        script#seajsnode(src="/sea.js",data-main="/home/init.js?time=20120827.js")
