!!!
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=8")
        title= title
        link(rel="stylesheet",href="/global/reset.css")
        link(rel="stylesheet",href="/global/global.css")
    body
        #header
            h1 前端 de 业务日志
        #main-wrapper
            #calendar-header
                h2#date
                    b#year-trigger(title="用鼠标滚轮设定 年份",data-type="year")
                    | -
                    b#month-trigger(title="用鼠标滚轮设定 月份",data-type="month")
            #calendar-wrapper
            #add-record-log
                if(!isLogin)
                    form.login(name="login",action="/login",method="post")
                        table
                            tr
                                th 用户名
                                td
                                    input.text(type="text",name="user")
                            tr
                                th 密码
                                td
                                    input.text(type="password",name="pwd")
                            tr.control
                                th
                                td
                                    input.cal.hidden-form(type="button",value="取消")
                                    input.login(type="submit",value="登陆",id="Login")
                -if(!isLogin)
                    style
                        form.add-record-log{display:none;}
                form.add-record-log(name="add-record-log",action="/record-log",method="post")
                    table
                        tr
                            th 页面名称
                                b *
                            td
                                input.text(type="text",name="page-name")
                        tr
                            th  页面等级
                                b *
                            td
                                select(name="level")
                                    option(value="") 请选择
                                    option(value="1") 简单
                                    option(value="2") 一般
                                    option(value="3") 常规
                                    option(value="4") 复杂
                                a(href="http://note.youdao.com/share/?id=958147041772e87d41bdfe60c6b7f6ab&type=note",target="_blank").level 评级标准
                        tr
                            th 设计师
                            td
                                input.text(type="text",name="design")
                        tr
                            th 需求方
                            td
                                input.text(type="text",name="customer")
                        tr
                            th 线上地址
                            td
                                input.text(type="text",name="online-url")
                        tr
                           th TMS地址
                           td
                               input.text(type="text",name="tms-url")
                        tr
                            th 备注
                            td
                                textarea(name="note")
                        tr
                            th 页面完成时间
                                b *
                            td
                                input.year(name='year',value='#{date.getFullYear()}')
                                |-
                                input.month(name='month',value='#{date.getMonth()+1}')
                                |-
                                input.date(name='date',value='#{date.getDate()}')
                        tr.control
                            th
                            td
                                input.cal.hidden-form(type="button",value="<<隐藏")
                                input.smt(type="submit",value="保存")
        #sidebar-wrapper
            #sidebar-container
                #sidebar-group
                    h2 控制台
                    ul
                        li.J-record-log
                            b#record-log 记录工作 >>
                                if(isLogin)
                                    span （!{username}）
                        if(isLogin)
                            li.separator
                            li
                                a(href="log-out") 退出登陆
                    h2 过滤器
                    ul.user-filter
                        li
                            each item in user.result
                                span.front(class="front#{item.id}",front="#{item.id}")=item.name
                            span.front.show-all 显示全部
                    h2 一起改进
                    ul
                        li
                            a(href="https://github.com/xiongsongsong/weekly") Weekly of Github
        script(src="/kissy-min.js")
        script(src="/sea.js",data-main="/home/init.js?time=20120720")
